moviepy==1.0.3
dacite==1.8.1
bokeh==3.6.1
GitPython==3.1.43
packaging==24.2
h5py==3.12.1
optree==0.13.1
networkx==3.4.2
sympy==1.13.1
idna==3.10
sentry-sdk==2.18.0
lz4==4.3.3
Farama-Notifications==0.0.4
urllib3==2.2.3
ml-dtypes==0.4.1
grpcio==1.68.0
setuptools==75.5.0
fsspec==2024.10.0
mpmath==1.3.0
omegaconf==2.3.0
nvidia-cuda-nvrtc-cu12==12.4.127
dm-launchpad-nightly==0.6.0.dev20241115
nvidia-nccl-cu12==2.21.5
nvidia-cuda-cupti-cu12==12.4.127
nvidia-cuda-runtime-cu12==12.4.127
proglog==0.1.10
cffi==1.17.1
wandb==0.18.7
tensorflow==2.18.0
pycparser==2.22
nvidia-cufft-cu12==11.2.1.3
hydra-core==1.3.2
platformdirs==4.3.6
typing_extensions==4.12.2
pillow==11.0.0
tzdata==2024.2
imageio-ffmpeg==0.5.1
Werkzeug==3.1.3
tensorboard-data-server==0.7.2
opt_einsum==3.4.0
docker-pycreds==0.4.0
prefetch_generator==1.0.3
opencv-python==4.10.0.84
termcolor==2.5.0
torch==2.5.1
protobuf==5.28.3
wheel==0.45.0
mock==5.1.0
namex==0.0.8
nvidia-cublas-cu12==12.4.5.8
libclang==18.1.1
requests==2.32.3
ale-py==0.10.1
contourpy==1.3.1
portpicker==1.6.0
dm-tree==0.1.8
python-dateutil==2.9.0.post0
PyYAML==6.0.2
soundfile==0.12.1
imageio==2.36.0
plotly==5.24.1
shortuuid==1.0.13
google-pasta==0.2.0
triton==3.1.0
six==1.16.0
Markdown==3.7
psutil==6.1.0
mdurl==0.1.2
MarkupSafe==3.0.2
einops==0.8.0
gitdb==4.0.11
markdown-it-py==3.0.0
flatbuffers==24.3.25
rich==13.9.4
gymnasium==1.0.0
keras==3.6.0
gast==0.6.0
decorator==4.4.2
wrapt==1.16.0
jax-jumpy==1.0.0
tenacity==9.0.0
Jinja2==3.1.4
astunparse==1.6.3
pytz==2024.2
tensorboard==2.18.0
absl-py==2.1.0
antlr4-python3-runtime==4.9.3
nvidia-cusparse-cu12==12.3.1.170
charset-normalizer==3.4.0
filelock==3.16.1
certifi==2024.8.30
setproctitle==1.3.3
nvidia-nvjitlink-cu12==12.4.127
Pygments==2.18.0
rdkit==2024.3.6
tqdm==4.67.0
nvidia-cusolver-cu12==11.6.1.9
nvidia-cudnn-cu12==9.1.0.70
xyzservices==2024.9.0
tornado==6.4.1
nvidia-curand-cu12==10.3.5.147
smmap==5.0.1
pandas==2.2.3
cloudpickle==3.1.0
nvidia-nvtx-cu12==12.4.127
numpy==2.0.2
click==8.1.7
packaging==24.2
tomli==2.0.1
platformdirs==4.2.2
autocommand==2.2.2
jaraco.text==3.12.1
backports.tarfile==1.2.0
typing_extensions==4.12.2
inflect==7.3.1
more-itertools==10.3.0
jaraco.context==5.3.0
wheel==0.43.0
zipp==3.19.2
jaraco.collections==5.1.0
typeguard==4.3.0
jaraco.functools==4.0.1
importlib_metadata==8.0.0
